*{
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}
button{
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px gray;
}
.calculator-grid {
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(6, 100px);

}
.equal{
    grid-row: span 2;
}
.addition{
    grid-row: span 2;
}



.output {
    box-shadow: inset 0px 0px 5px rgb(56, 27, 27);
    border:3px solid greenyellow;
    grid-column: 1 / -1;
    background-color:orange;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    color: gray;
}

.operand-one{
    color: seashell;
}

.operand-two{
    color: seashell;
}